* {
    margin: 0;
    padding: 0;

}

body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.banner {
    width: 100%;
    background-color: rgb(3, 3, 19);
    justify-content: center;
    height: 400px;
}
.banner img {
    display: block;
    margin: 0 auto;
    text-align: center;   
}
.menu {
    margin: 0 auto;
    width: 1000px;
}
nav {
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

ul li a:hover {
    background-color: #f0f0f0;
}

nav li:first-child{
    margin-right: auto;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}
.menu-button {
    display: none;
}
.wrapper {
    margin: 20px auto;
    width: 1000px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image {
    max-width: 25%;
    max-height:15%;
    float: left;
    border: 3px solid #f0f0f0;
    border-radius: 10px;
    margin-right: 15px;
  }
  
  .text-index {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 0%;
    float: left;
  }
footer {
    background-color: rgb(3, 3, 19);
    width: calc(100% - 80);
    padding: 40px 40px;
    margin-top: 50px;
    
}
footer p {
    text-align: center;
    color: #fff;
}
.img-galery {
    border: 3px solid #f0f0f0;
    border-radius: 10px;
    margin-right: 5px;
}
@media (max-width:1000px) {
    .hideOnMobile{
        display: none;
    }
    .menu{
        width: auto;
    }
    .wrapper{
        width: auto;
    }
    .menu-button {
        display: block;
    }

}
@media (max-width:700px) {
    .banner{
        display: none;
    }
    .wrapper {
        width: 100%;
    }
    .container {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        
      }
    .image {
        
        display: block;
        width: 100%;
      }
      
      .text-index {
        width: 100%;
        display: inline;
        padding-top: 20px;
       
      }
}
@media (max-width: 400px) {
    .sidebar{
        width: 100%;
    }
    
    
}
